{
  "editorconfig": true,
  "semi": false,
  "importOrderSeparation": true,
  "importOrder": [
    "^Theme/(.*)$",
    "^Components/(.*)$",
    "^Layouts/(.*)$",
    "^Providers/(.*)$",
    "^Assets/(.*)$",
    "^Metadata/(.*)$",
    "^Locale/(.*)$",

    "^GraphQL/(.*)$",
    "^Queries/(.*)$",
    "^Services/(.*)$",
    "^Modules/(.*)$",

    "^Server/(.*)$",

    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators"],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-jsdoc"]
}
