{
  "editorconfig": true,
  "semi": false,
  "importOrderSeparation": true,
  "importOrder": [
    "^#theme/(.*)$",
    "^#components/(.*)$",
    "^#providers/(.*)$",
    "^#assets/(.*)$",
    "^#locale/(.*)$",

    "^#graphql/(.*)$",
    "^#queries/(.*)$",
    "^#services/(.*)$",
    "^#modules/(.*)$",

    "^#server/(.*)$",

    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators"],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-jsdoc"]
}
